.dialogButtonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
}

.dialogContainer {
    padding: 50px;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-row-gap: 10px;
}

.dialogTitle {
    text-align: center;
}

.popupButton {
    border-radius: 0 !important;
    border-top: none;
}

.dialogContent {
    width: 100%;
}

.dialogTitle {
    border-bottom: 1px solid #61c766;
}
