.dialogContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.dialogContainerDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
}