.landingPageContainer {
    display: grid;
    grid-template-rows: 30% 10% auto 10%;
    height: 100%;
    width: 100%;
}

.header {
    height: 100%;
    width: 100%;
    background-color: yellow;
}

.searchContainer {
    background-color: red;
}

.tileContainer {
    background-color: blue;
}

.tile {
    height: 200px;
    width: 200px;
    background-color: aqua;
}

.footer {
    background-color: orange;
}
<<<<<<< HEAD
<<<<<<< HEAD

.gridList {
    width: 90%;
    height: 100%;
    position: relative;
    justify-content: center;
}

.gridRoot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    padding: 40px;
    background-color: rgb(216, 216, 216);
}

.tileBar {
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 100%) !important;
=======
.gridList {
    width: 100%;
    height: 100%;
>>>>>>> Added material ui to restaurant tiles
=======
.gridList {
    width: 100%;
    height: 100%;
>>>>>>> Added material ui to restaurant tiles
}