.landingPageContainer {
    display: grid;
    grid-template-rows: 40% auto 10%;
    height: 100%;
    width: 100%;
    /*padding: 20px 50px 0 50px;*/
}

.card {
    background-color: red;
}

.header {
    height: 100%;
    width: 100%;
    padding-top: 50px;
    background: rgb(49,219,94);
    background: linear-gradient(90deg, rgba(49,219,94,1) 0%, rgba(72,236,154,1) 99%);
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-column-gap: 20px;
    grid-template-areas: ". logo text .";
    /*background-color: yellow;*/
}

.logo {
    background-color: #f0f0f0;
    border-radius: 25px;
    width: 75px;
    height: 75px;
    grid-area: logo;
}

.title {
    font-size: 40px;
    grid-area: text;
    margin: 0;
    padding: 0;
}
.searchContainer {
    /*background-color: red;*/
}

.tileContainer {
    background-color: blue;
}

.tile {
    height: 200px;
    width: 200px;
    background-color: aqua;
}

.footer {
    background-color: orange;
    margin: 0 -50px 0 -50px;
}

.gridList {
    width: 90%;
    height: 100%;
    position: relative;
    justify-content: center;
}

.gridRoot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    padding: 40px;
    background-color: rgb(216, 216, 216);
}

.tileBar {
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 100%) !important;
}