.landingPageContainer {
  display: grid;
  grid-template-rows: 40% auto 10%;
  height: 100%;
  /*width: 100%;*/
  /*padding: 0 100px 0 100px;*/
}

.card {
  box-shadow: -1px 7px 35px -14px rgba(0, 0, 0, 0.75);
}

.gridTile div:first-child {
  overflow: visible;
}

.search {
  width: 60%;
  border-radius: 50px;
  background-color: red;
}

.search.root {
  border-radius: 50px;
}

.header {
  height: 100%;
  border-bottom: solid 1px rgba(200, 200, 200, 0.5);
  margin: 0 100px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 20px;
  align-items: center;
  grid-template-areas: ". titleContainer ." ". searchContainer .";
}

.titleContainer {
  height: 100%;
  width: 100%;
  grid-area: titleContainer;
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-column-gap: 20px;
  align-items: center;
  grid-template-areas: ". logo . ";
}

.logo {
  grid-area: logo;
}

.title {
  font-size: 40px;
  /*color: white;*/
  grid-area: title;
  font-family: "Comic Sans MS";
  margin: 0;
  padding: 0;
}
.searchContainer {
  width: 100%;
  height: 100%;
  grid-area: searchContainer;
  display: grid;
  grid-template-rows: 45px auto;
  grid-row-gap: 30px;
  justify-items: center;
}

.editContainer {
  width: 100%;
  height: 100%;
  grid-area: edit;
}

.buttonHolder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.tileContainer {
  background-color: blue;
}

.tile {
  height: 200px;
  width: 200px;
  background-color: aqua;
}

.footer {
  background-color: orange;
}

.gridList {
  width: 90%;
  height: 100%;
  padding: 0 20px 0 20px;
  position: relative;
  justify-content: center;
}

.gridRoot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  padding: 40px;
  /*background-color: rgb(216, 216, 216);*/
}

.tileBar {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.3) 100%
  ) !important;
}

.menuButton {
  color: white;
}

.menuButton:hover {
  color: #61c766;
}

.menuIcon {
  width: 24px;
  height: 24px;
}

.primaryButton {
  background-color: white;
  color: #61c766;
  border: 1px solid #61c766;
}

.primaryButton:hover {
  background-color: #61c766;
  color: white;
}

.secondaryButton {
  background-color: #61c766;
  color: white;
}

.secondaryButtonDisabled {
  background-color: transparent;
  outline: none;
}

.secondaryButton:hover {
  color: #f2fff0;
  border: 1px solid #61c766;
  background-color: #459651;
}
